/*
* Variables
*/
$body-padding: 0 20px 20px 20px;
$primary-button-color: #e60046;
$primary-color: #FCEBEE;
$secondary-color: #FCF3BB;
$tertiary-color: #f3f3f3;

/*
* Mixins
*/

@mixin mright($margin) {
  margin-left: $margin;
}
@mixin mleft($margin) {
  margin-left: $margin;
}

@mixin pbottom($padding) {
  padding-bottom: $padding;
}

/*
* Element style
*/

body {
  padding: $body-padding;
  text-align: center;

  .btn-primary {
    background-color: $primary-button-color;
    border-radius: 0;
  }

  .btn-black {
    width: 150px;
    padding: 0 20px;
    position: absolute;
    bottom: -30px;
    right: 0px;
    color: #fff;
    background-color: #000;
  }

  .btn-dark {
    color: #fff;
    background-color: #000;
  }

  .row {
    h1 {
      text-align: center !important;
    }
  }
}

/*
* Class style
*/

.no-padding {
  padding: 0;
}

.display-flex {
  display: flex;
}

.navbar-nav {
  transition: top 0.3s;

  a:hover {
    color: pink !important;
  }
}

.carousel-indicators {
  text-align: left;
  float: left;
  left: 2% !important;
  right: inherit;
}

ol.carousel-indicators li,
ol.carousel-indicators li.active {
   width: 1rem;
   height: 1rem;
   margin: 2px;
   border-radius: 50%;
   border: 1px solid black;
   background: transparent;
}

ol.carousel-indicators li.active {
   background: black;
}

.carousel-item {
  button {
    background-color: $primary-button-color;
    border-radius: 0;
  }
}

#top-tile {
  background-color: $secondary-color;
  height: 100%;
  border: 0;
  vertical-align: middle;
  font-size: 28px;
}

#about-us-img-bttm {
  border-style: none;
  border: 0;
}

#bottom-tile {
  background-color: $primary-color;
  height: 100%;
  font-size: 28px;

  &-img {
    width: 100%;
  }
}

.subscription-left {
  background-color: $tertiary-color;
}

.subscription-right {
  background-color: $primary-color;
}

#pretty-Guy {
  background-color: $tertiary-color;
  justify-content: center;
  align-items: center;
}

#press-text {
  background-color: $tertiary-color;
  width: 50% !important;
  justify-content: center;
  align-items: center;
}

/*
* Id style
*/

#footer {

  &-bottom {

    span {
      @include mright(20px);
      @include mleft(20px);

    }
  }
}
